/**
 *
 * As per this article: https://tallys.github.io/color-theory/
 *
 */


/*=================================
=            FUNCTIONS            =
=================================*/

/*----------  COLOR HUE CHECKER HELPERS  ----------*/
// Check if the color is a cool color
@function is-cool-color($color) {
	@return hue($color) < 300 and hue($color) > 120;
}

// Check if the color is high value or low value
@function is-high-key-value($color) {
	@return hue($color) > 30 and hue($color) < 140;
}

/*----------  MIXING COLOURS  ----------*/
//Establish a relationship (similar lighting conditions) between colors.
@function harmonious-mix($mix, $base) {
	@if (is-cool-color($mix)){
		@if is-high-key-value($base) {
			@return mix($mix, $base, 11%);
		}
		@else {
			@return mix($mix, $base, 16%);
		}
	}
	@else {
		@if is-high-key-value($base) {
			@return mix($mix, $base, 13%);
		}
		@else {
			@return mix($mix, $base, 23%);
		}
	}
}

/*----------  CREATE NEUTRALS  ----------*/
@function mix-neutral($color) {
	@if (is-highest-key-value($color)) {
		@if is-high-key-value(complement($color)) {
			@return mix(complement($color), $color, 19%);
		}
		@else {
			@return mix(complement($color), $color, 13%);
		}
	}
	@else if (is-high-key-value($color)) {
		@if is-high-key-value(complement($color)) {
			@return mix(complement($color), $color, 31%);
		}
		@else {
			@return mix(complement($color), $color, 23%);
		}
	}
	@else {
		@if is-highest-key-value(complement($color)) {
			@return mix(complement($color), $color, 31%);
		}
		@if is-high-key-value(complement($color)) {
			@return mix(complement($color), $color, 26%);
		}
		@else {
			@return mix(complement($color), $color, 23%);
		}
	}
}

/*=====  End of FUNCTIONS  ======*/


/*=======================================
=            CREATE COLOURS!            =
=======================================*/

/*----------  PICK INTIAL COLOURS  ----------*/
$color-positive: hsl(180, 100%, 50%); //cyan
$color-negative: complement($color-positive);

/*----------  Mix colours  ----------*/
$color-negative-mixed: harmonious-mix($color-positive, $color-negative);
$color-positive-mixed: harmonious-mix($color-negative, $color-positive);

/*----------  Create neutrals  ----------*/
$color-positive-neutral: mix-neutral($color-positive-mixed);
$color-positive-neutral-light: lighten($color-positive-neutral, 35%);
$color-positive-neutral-dark: darken($color-positive-neutral, 35%);

$color-negative-neutral: mix-neutral($color-negative-mixed);
$color-negative-neutral-light: lighten($color-negative-neutral, 35%);
$color-negative-neutral-dark: darken($color-negative-neutral, 35%);

/*----------  Create greys  ----------*/
$color-positive-grayscale: grayscale($color-positive);
$color-negative-grayscale: grayscale($color-negative);
$color-negative-gs-light: lighten($color-negative-grayscale, 35%);
$color-negative-gs-dark: darken($color-negative-grayscale, 25%);

/*=====  End of CREATE COLOURS!  ======*/
