@mixin clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin image-replace {
	overflow: hidden;
	text-indent: -999em;
	white-space: nowrap;
}

@mixin container {
	@include clearfix;
	position: relative;
	margin-bottom: $baseline-desktop;
	padding: ($baseline-desktop / 2);
	background-color: #fff;

	@media screen and (min-width: $viewport-mobile) {
		padding: $baseline-desktop;
	}
}