.color-swatches {
	.swatch {
		width: 100px;
		height: 100px;
		margin: 10px;
		display: inline-block;;	
	}

	.small {
		// width: 100px;
		// height: 100px;
	}

	.one {
		background-color: $color-positive;
	}
	.two {
		background-color: $color-negative;
	}
	.three {
		background-color: $color-positive-mixed;
	}
	.four {
		background-color: $color-negative-mixed;
	}

	.five {
		background-color: $color-positive-neutral-light;
	}
	.six {
		background-color: $color-positive-neutral;
	}
	.seven {
		background-color: $color-positive-neutral-dark;
	}

	.eight {
		background-color: $color-negative-neutral-light;
	}
	.nine {
		background-color: $color-negative-neutral;
	}
	.ten {
		background-color: $color-negative-neutral-dark;
	}

	.eleven {
		background-color: $color-positive-grayscale;
	}

	.twelve {
		background-color: $color-negative-grayscale;
	}
	.thirteen {
		background-color: $color-negative-gs-light;
	}
	.fourteen {
		background-color: $color-negative-gs-dark;
	}
}