@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Didact+Gothic');

$header-font-family: 'Didact Gothic', sans-serif;
$body-font-family: 'Arimo', sans-serif;

// Using a modular scale with a base of 18px for html, thus setting rem units at the same. Ratio of 1.2

/*----------  BASELINES  ----------*/

// Mobile
$base-font-size-mobile: 16px;
$base-line-height-mobile: 1.4;
$baseline-mobile: ($base-font-size-mobile * $base-line-height-mobile);

// Tablet
$base-font-size-tablet: 17px;
$base-line-height-tablet: 1.45;
$baseline-tablet: ($base-font-size-tablet * $base-line-height-tablet);

// Desktop
$base-font-size-desktop: 18px;
$base-line-height-desktop: 1.5;
$baseline-desktop: ($base-font-size-desktop * $base-line-height-desktop);

html {
	font-family: $body-font-family;
	font-size: $base-font-size-mobile;
	line-height: $base-line-height-mobile;
	font-weight: 400;
	color: $color-body-text;

	@media screen and (min-width: $viewport-mobile) {
		font-size: $base-font-size-tablet;
		line-height: $base-line-height-tablet;
	}
	@media screen and (min-width: $viewport-tablet) {
		font-size: $base-font-size-desktop;
		line-height: $base-line-height-desktop;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: $baseline-desktop;
	margin-bottom: ($baseline-desktop / 2);
	font-family: $header-font-family;
}

h1 {
	font-size: 2.488rem;
	line-height: 1.2

}

.logo {
	font-size: 3.583rem;
	line-height: 1.1;
}

h2 {
	font-size: 1.728rem;
	line-height: 1.25;
}

h3 {
	font-size: 1.44rem;
	line-height: 1.3;
}

h4, h5, h6 {
	font-size: 1.2rem;
	line-height: 1.4;
}

p {
	margin-top: 0;
	margin-bottom: $baseline-desktop;
}

ul {
	margin-top: ($baseline-desktop / 2);
	margin-bottom: $baseline-desktop;
	list-style-type: disc;
	list-style-position: outside;
	padding-left: $baseline-desktop;
}

li {
	margin-top: 0;
	margin-bottom: ($baseline-desktop / 4);
}

dl {
	margin-top: 0;
	margin-bottom: $baseline-desktop;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a {
	color: $color-link;
	text-decoration: none;
	
	&:hover {
		color: $color-link-hover;
	}
}
