// VIEWPORTS
$viewport-max-width: 1280px;
$viewport-desktop: 1024px;
$viewport-tablet: 768px;
$viewport-mobile-plus: 568px;
$viewport-mobile: 480px;

// LINKS
$color-link: $color-negative-mixed;
$color-link-hover: $color-negative-neutral-dark;

// Type
$main-background: $color-negative-gs-light;
$color-body-text: $color-negative-gs-dark;

$small-print: 0.833rem;