@mixin stripdown() {
	margin: 0;
	padding: 10px 20px 10px 20px;
	border: 0;
	background-color: transparent;
	font-family: inherit;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;

	&::-moz-focus-inner {
		padding: 0;
		border: 0;		
	}

	&:hover {
		text-decoration: none;
	}
}

@mixin borderNoBG($color) {
	border: solid $color 2px;
	color: $color;

	&:hover {
		color: darken($color, 20%);
		border-color: darken($color, 20%);
	}
}

@mixin shrink() {
	font-size: 15px;
	line-height: 1.2;
	padding: 2px 5px;	
}

@mixin buttonIcon {
	display: inline-block;
	margin-left: 6px;
	padding: 0;
	text-indent: -9999px;
	width: 17.5px;
	height: 17.5px;	
}

@mixin iconDelete {
	background: url('/assets/delete.svg') no-repeat;
	background-size: contain;
}

@mixin iconView {
	position: relative;
	top: 2px;
	width: 25px;
	height: 15px;
	background: url('/assets/eye.svg') no-repeat;
	background-size: contain;
}

.button {
	@include stripdown;
}

.button--positive {
	@include stripdown;

	border: solid $color-positive 2px;
	color: #ffffff;
	background-color: $color-positive;

	&:hover {
		background: darken($color-positive, 20%);
		border-color: darken($color-positive, 20%);
	}
	
	&--removed {
		@extend .button--positive;
		display: block;
		float: right;
	}
}


.button--negative {
	@include stripdown;
	@include borderNoBG($color-negative);
	
	&--inline {
		@extend .button--negative;
		@include shrink;
	}
}


.button--neutral {
	@include stripdown;
	@include borderNoBG($color-positive-mixed);	
	
	&--inline {
		@extend .button--neutral;
		@include shrink;
	}

	&--removed {
		@extend .button--neutral;
		display: block;
		position: absolute;
		top: $baseline-desktop;
		right: $baseline-desktop;
	}
}


.button--status {
	@include stripdown;
	position: absolute;
	top: calc(50% - 7.5px);
	left: 0;
	padding: 0;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
	border: solid $color-positive-mixed 2px;
	border-radius: 7px;
	
	&--complete {
		@extend .button--status;
		background-color: $color-positive-mixed;
	}
}


.button--spaced {
	margin-bottom: ($baseline-desktop / 2);
}

.button--icon {
	@include stripdown;
	@include buttonIcon;
	
	&--view {
		@include stripdown;
		@include buttonIcon;
		@include iconView;
	}

	&--edit {
		@include stripdown;
		@include buttonIcon;
		background: url('/assets/edit.svg') no-repeat;
		background-size: contain;
	}

	&--delete {
		@include stripdown;
		@include buttonIcon;
		@include iconDelete;
	}

	&--icon-replace {
		@media screen and (max-width: $viewport-tablet) {
			&--view {
				@include stripdown;
				@include buttonIcon;
				@include iconView;
				border: 0;
			}
			&--delete {
				@include stripdown;
				@include buttonIcon;
				@include iconDelete;
				border: 0;
			}
		}
	}
}

