.document {
	@include container;

	&__title {
		margin-top: 0;
	}

	&__item {
		dt {
			font-weight: 700;

			&:after {
				font-weight: 700;
				content: ": ";
			}
		}

		&--short {
			margin-bottom: ($baseline-desktop / 4);
			dt, dd {
				display: inline-block;
			}

			dt {
				margin-right: 5px;
			}
		}
	}
}

.document--projects {
	width: 100%;
}