@mixin customBorder {
	border: solid $color-negative-neutral 1px;
	border-radius: 5px;
}

@mixin prefixes {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: none;
}

.form {

	&__label {
		display: block;
		margin-bottom: ($baseline-desktop / 2);

		&--last {
			margin-bottom: $baseline-desktop;
		}
	}

	&__input {
		display: block;
		width: 100%;
		padding: 7.5px;
		@include customBorder;

		&--date {
			width: 50%;
		}
	}

	&__textarea {
		display: block;
		width: 100%;
		height: 200px;
		padding: 7.5px;
		@include customBorder;
	}

	&__select {
		@include prefixes;
		display: block;
		width: 50%;
		padding: 7.5px;
		@include customBorder;
		background-color: transparent;

		background: url('/assets/arrow-down.svg') no-repeat;
		background-size: 17.5px 17.5px;
		background-position: 97% 50%; 

	}
}