.header {
	@include container;

	&__title {
		margin-top: 0;

		a {
			color: $color-positive-mixed;
		}
	}

	.nav {
		margin: 0;
		margin-top: $baseline-desktop;
		margin-right: $baseline-desktop;
		padding: 0;

		&__item {
			display: inline-block;
			margin-right: $baseline-desktop;

			.active {
				color: $color-negative-neutral-light;
			}
		}
	}

	@media screen and (min-width: $viewport-mobile) {
		.nav-outer {
			position: absolute;
			top: 0;
			right: 0;
		}	

		.nav {
			&__item {
				margin-right: 0;
				margin-left: $baseline-desktop;

				.active {
					color: $color-negative-neutral-light;
				}
			}
		}	
	}

}