body {
	background-color: $main-background;
	max-width: $viewport-max-width;
	margin: 0 auto;

	@media screen and (min-width: $viewport-tablet) {
		padding: $baseline-desktop;
		padding-top: 0;
	}
}

.container {
	@include clearfix;
}

.layout {
	@include clearfix;

	&--full {
		width: 100%;
	}

	&--half {
		@media screen and (min-width: $viewport-tablet) {
			float: left;
			width: calc(50% - 13.5px);
			margin-right: ($baseline-desktop / 2);

			
		}

		&--last {
			@media screen and (min-width: $viewport-tablet) {
				margin-right: 0;
				margin-left: ($baseline-desktop / 2);					
			}
		}
	}
}
