@mixin complete() {
	text-decoration: line-through;
	color: $color-negative-gs-light;
}

.list {
	padding: 0;
	list-style: none;
}

.list__item {
	position: relative;
	margin: 0;
	padding: ($baseline-desktop / 4) 0;
	border-bottom: solid $color-negative-gs-light 1px;
	font-size: $small-print;

	&:first-child {
		border-top: solid $color-negative-gs-light 1px;
	}

	&--projects {
		font-size: 1rem;

		> * {
			margin-left: 5px;
		}

		@media screen and (min-width: $viewport-tablet) {
			> * {
				margin-left: 12px;
			}			
		}

		@media screen and (min-width: $viewport-desktop) {
			> * {
				margin-left: 24px;
			}			
		}
	}
}

.list__title {
	$fixedWidth: 175px;
	display: inline-block;
	padding-left: 20px;
	padding-right: 15px;
	vertical-align: middle;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
	
	&--tasks {
		width: calc(100% - 60px);

		@media screen and (min-width: $viewport-mobile) and (max-width: $viewport-tablet) {
			width: calc(100% - 180px);
		}

		@media screen and (min-width: $viewport-desktop) {
			width: calc(100% - 180px);
		}
	}

	&--projects {
		width: calc(100% - 55px);
		margin-left: 0;
		padding-left: 0;

		@media screen and (min-width: $viewport-mobile-plus) {
			width: calc(100% - 235px);
		}

		@media screen and (min-width: $viewport-tablet) {
			width: calc(100% - 335px);
		}

		@media screen and (min-width: $viewport-desktop) {
			width: calc(100% - 395px);
		}
	}

	&--member-task {
		width: calc(100% - 70px);
		padding-left: 0;

		@media screen and (min-width: $viewport-mobile) and (max-width: $viewport-tablet) {
			width: calc(100% - 190px);
		}

		@media screen and (min-width: $viewport-desktop) {
			width: calc(100% - 200px);
		}
	}

	&--team-member {
		width: calc(100% - 85px);
		padding-left: 0;
	}
	
	&--complete {
		@include complete;
	}
}

.list__date {
	vertical-align: middle;
	color: $color-positive-mixed;
	
	&--end {
		padding-right: 15px;

		&:before {
			margin: 0 3px;
			content: "to";
		}
	}

	&--complete {
		@include complete;
	}

	&--tasks {
		display: none;
		padding-right: 0;
		width: 50px;
		
		@media screen and (min-width: $viewport-mobile) and (max-width: $viewport-tablet) {
			display: inline-block;
		}

		@media screen and (min-width: $viewport-desktop) {
			display: inline-block;
		}

		&--end {
			width: 70px;

			&:before {
				margin: 0 5px 0 0;
			}
		}
	}
	
	&--projects {
		display: none;
		width: 75px;

		@media screen and (min-width: $viewport-mobile-plus) {
			display: inline-block;
		}
	}

	&--member-task {
		display: none;

		@media screen and (min-width: $viewport-mobile) and (max-width: $viewport-tablet) {
			display: inline-block;
		}

		@media screen and (min-width: $viewport-desktop) {
			display: inline-block;
		}
	}
}

.list__date-separator {
	display: none;

	@media screen and (min-width: $viewport-mobile-plus) {
		display: inline-block;
	}
}


.list__status {
	color: $color-negative-mixed;

	span:first-child:after {
		content: ": ";
	}

	.indicator {
		position: relative;
		display: inline-block;
		top: 4px;
		margin-left: 3px;
		padding: 0;
		text-indent: -9999px;
		width: 14px;
		height: 14px;

		background: url('/assets/cross.svg') no-repeat;
		background-size: contain;
	}
	
	&--complete {
		.indicator {
			top: 1px;
			width: 17.5px;
			height: 17.5px;
			background: url('/assets/tick.svg') no-repeat;
			background-size: contain;
		}
	}
}
